{{ header }}{{ column_left }}
<div id="content">
    <div class="page-header">
        <div class="container-fluid">
            <div class="pull-right">
                <a href="{{ link_cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i
                            class="fa fa-reply"></i></a>
            </div>
            <h1>{{ text_pricing_rules }}</h1>
            <ul class="breadcrumb">
                {% for breadcrumb in breadcrumbs %}
                    <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="container-fluid">

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-list"></i> {{ text_shipping_rules_list }}</h3>
                <a href="{{ link_shipping_rules }}">{{ button_edit }}</a>
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    {% if shipping_rules %}
                        <table class="table table-bordered table-hover">
                            <tr>
                                <td class="text-left">{{ column_shipping_rule_target_country }}</td>
                                <td class="text-right">{{ column_shipping_rule_default_price }}</td>
                                <td class="text-right">{{ column_shipping_rule_free_over_limit }}</td>
                                <td class="text-center">{{ column_shipping_rule_is_enabled }}</td>
                                <td class="text-left">{{ column_shipping_rule_weight_rules }}</td>
                                <td class="text-center">{{ column_action }}</td>
                            </tr>
                            {% for rule in shipping_rules %}
                                <tr>
                                    <td class="text-left">{{ rule.country_name }}</td>
                                    <td class="text-right">{{ rule.default_price }}</td>
                                    <td class="text-right">{{ rule.free_over_limit }}</td>
                                    <td class="text-center">
                                        {% if rule.is_enabled %}  {{ text_enabled }} {% else %} {{ text_disabled }} {% endif %}
                                    </td>
                                    <td class="text-left">{{ rule.weight_rules_description }}</td>
                                    <td class="text-center">
                                        <a href="{{ rule.link_weight_rules }}" data-toggle="tooltip"
                                           title="{{ rule.weight_rules_tooltip }}" class="btn btn-primary"><i
                                                    class="fa fa-balance-scale"></i></a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </table>
                    {% else %}
                        <table class="table table-bordered table-hover">
                            <tr>
                                <td class="text-center">{{ text_no_shipping_rules }}</td>
                            </tr>
                        </table>
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-list"></i> {{ text_weight_rules_list }}</h3>
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    {% if weight_rules %}
                        {% for country_rules in weight_rules %}
                            <table class="table table-bordered table-hover">
                                <tr>
                                    <td colspan="3" class="text-center">
                                        {{ country_rules.country_name }}
                                        <a href="{{ country_rules.link_edit }}">{{ button_edit }}</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-right">{{ column_weight_rule_min_weight }}</td>
                                    <td class="text-right">{{ column_weight_rule_max_weight }}</td>
                                    <td class="text-right">{{ column_weight_rule_price }}</td>
                                </tr>
                                {% for rule in country_rules.items %}
                                    <tr>
                                        <td class="text-right">{{ rule.min_weight }}</td>
                                        <td class="text-right">{{ rule.max_weight }}</td>
                                        <td class="text-right">{{ rule.price }}</td>
                                    </tr>
                                {% endfor %}
                            </table>
                        {% endfor %}
                    {% else %}
                        <table class="table table-bordered table-hover">
                            <tr>
                                <td class="text-center">{{ text_no_weight_rules }}</td>
                            </tr>
                        </table>
                    {% endif %}
                </div>
            </div>
        </div>

    </div>
</div>
