{{ header }}{{ column_left }}
<div id="content">
    <div class="page-header">
        <div class="container-fluid">
            <h1>{{ text_carriers }}</h1>
            <ul class="breadcrumb">
                {% for breadcrumb in breadcrumbs %}
                    <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="container-fluid">
        {% if flashMessage %}
            <div class="alert {{ flashMessage.class }} alert-dismissible"><i class="fa {{ flashMessage.icon }}"></i> {{ flashMessage.text }}
                <button type="button" class="close" data-dismiss="alert">&times;</button>
            </div>
        {% endif %}
        <div class="row">
            <div class="col-md-12 col-sm-12 hidden-sm hidden-xs">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="fa fa-list"></i> {{ panel_title }}</h3>
                    </div>
                    <div class="panel-body">
                        <div class="col-md-12 col-sm-12">
                            <div class="table-responsive">
                                <table class="table table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <td class="text-left">{{ carrier_settings_column_country }}</td>
                                            <td class="text-left">{{ carrier_settings_column_country_code }}</td>
                                            <td class="text-right">{{ carrier_settings_column_action }}</td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {% for country in countries %}
                                        <tr>
                                            <td class="text-left">{{ country.name }}</td>
                                            <td class="text-left">{{ country.code|upper }}</td>
                                            <td class="text-right">
                                                <a href="{{ country.link_edit }}" data-toggle="tooltip" title="{{ edit_carriers_tooltip }}" class="btn btn-primary">
                                                    <i class="fa fa-pencil"></i>
                                                </a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</div>
{{ footer }}
